@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

html { box-sizing: border-box; min-height: 100vh; background: #E5E5E4; }

*, *:before, *:after { font-family: "Roboto", sans-serif; box-sizing: inherit; margin: 0; padding: 0; border: 0; vertical-align: baseline; }

a { text-decoration: none; color: #030303; }
a:visited, a:hover { color: #030303; }

h1 { color: #030303; margin: 30px 0; }

h2 { color: #030303; margin: 30px 0 20px 0; }

h3 { color: #030303; margin: 20px 0 10px 0; }

p { line-height: 1.75; margin-bottom: 10px; }

.pull-right { float: right; }

.pull-left { float: left; }

.nowrap { white-space: nowrap; }

.wrapper { max-width: 1240px; margin: 0 auto; padding: 0 20px; }
@media (min-width: 1241px) { .wrapper { padding: 0 80px; } }

.page { max-width: 1240px; margin: 0 auto; min-height: 100%; background: white; padding: 40px 0; }
.page--hero { padding: 0; }

.site-nav-toggle-menu { color: #030303; background: white; font-size: 16px; padding: 10px; }
@media (min-width: 701px) { .site-nav-toggle-menu { display: none; } }

.site-header__title { font-size: 24px; font-weight: bold; color: #B03060; padding: 20px 0; }
.site-header__title:visited, .site-header__title:hover { color: #B03060; }
.site-header__content { background: white; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-justify-content: space-between; justify-content: space-between; -webkit-align-items: center; align-items: center; }

.site-nav-toggle-close { display: none; color: #030303; background: white; font-size: 16px; padding: 10px; }

#site-nav-toggle { display: none; }
#site-nav-toggle:checked ~ .site-nav__links { display: block; }
#site-nav-toggle:checked ~ .site-nav-toggle-menu { display: none; }
@media (max-width: 700px) { #site-nav-toggle:checked ~ .site-nav-toggle-close { display: block; } }

@media (max-width: 700px) { .site-nav__links { display: none; position: absolute; top: 64px; right: 0; left: 0; z-index: 1001; background: white; -moz-box-shadow: 0px 14px 26px -12px rgba(0, 0, 0, 0.75); -webkit-box-shadow: 0px 14px 26px -12px rgba(0, 0, 0, 0.75); box-shadow: 0px 14px 26px -12px rgba(0, 0, 0, 0.75); } }
.site-nav__link { display: inline-block; text-align: right; }
@media (min-width: 701px) { .site-nav__link:not(:last-child) { margin-right: 20px; } }
@media (max-width: 700px) { .site-nav__link { display: block; }
  .site-nav__link a { display: block; padding: 20px 30px; } }

.hero-image { position: relative; }
.hero-image img { width: 100%; height: auto; }
.hero-image__image-container { position: relative; }
.hero-image__overlay { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0, 0, 0, 0.1); }
.hero-image__cta { position: absolute; color: white; bottom: 20%; }
.hero-image__cta-header { color: white; font-size: 40px; }
@media (max-width: 512px) { .hero-image__cta-header { font-size: 30px; } }
@media (max-width: 412px) { .hero-image__cta-header { font-size: 25px; } }
.hero-image__cta-link { border: 2px solid white; color: white; padding: 20px 35px; margin: 20px 0 0 0; display: inline-block; font-size: 20px; letter-spacing: 1px; }
.hero-image__cta-link:visited { color: white; }
.hero-image__cta-link:hover { background: white; color: black; }
@media (max-width: 512px) { .hero-image__cta-link { font-size: 16px; padding: 15px 20px; } }
@media (max-width: 412px) { .hero-image__cta-link { font-size: 14px; padding: 10px 15px; } }

.site-footer__content { padding-top: 20px; padding-bottom: 20px; background: white; }
.site-footer__elem { display: inline-block; }
.site-footer__elem:not(:last-child) { margin-right: 20px; }
@media (max-width: 550px) { .site-footer__elem { display: block; padding: 10px 0; } }

.floorplans { display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; }
.floorplans__item { width: 50%; padding: 40px 0; }
@media (max-width: 700px) { .floorplans__item { width: 100%; } }
@media (min-width: 701px) { .floorplans__item:nth-of-type(even) { padding-left: 20px; }
  .floorplans__item:nth-of-type(odd) { padding-right: 20px; } }
.floorplans__item a { color: #B03060; }
.floorplans__item a:visited, .floorplans__item a:hover { color: #B03060; }
.floorplans__item img { max-width: 100%; margin: 0 auto; height: auto; }
@media (min-width: 701px) { .floorplans__item img { max-height: 500px; } }
.floorplans__item h2 { margin: 15px 0; }
.floorplans__item p { margin-bottom: 15px; }
.floorplans__item-info { -webkit-align-self: flex-end; align-self: flex-end; }

@media (min-width: 701px) { .features ul { columns: 2; -webkit-columns: 2; -moz-columns: 2; } }
.features li { position: relative; padding: 5px 5px 0 15px; }
.features li:before { content: '•'; padding-right: 10px; position: absolute; left: 0; }

#map { width: 100%; height: 400px; }

.fields { display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; }
.fields input, .fields textarea, .fields select { border: 1px solid #828282; font-size: 14px; padding: 10px; height: 38px; }
.fields select { height: 38px; border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; }
.fields label { display: block; font-size: 18px; margin-bottom: 10px; }

.mc-field-group { width: 50%; padding: 10px 0; }
@media (min-width: 701px) { .mc-field-group.left { padding-right: 20px; }
  .mc-field-group.right { padding-left: 20px; } }
@media (max-width: 700px) { .mc-field-group { width: 100%; } }

.mc-address-group { width: 100%; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; }

.indicates-required { width: 100%; text-align: right; margin: 10px 0; }

.small-meta { display: inline-block; margin-top: 10px; }

#mc-embedded-subscribe { margin-top: 20px; background: white; color: #B03060; border: 2px solid #B03060; padding: 10px 20px; font-size: 18px; }
#mc-embedded-subscribe:hover { cursor: pointer; }

#mce-FNAME, #mce-LNAME, #mce-EMAIL, #mce-ADDRESS-addr1, #mce-ADDRESS-addr2, #mce-ADDRESS-city, #mce-ADDRESS-zip, #mce-ADDRESS-state, #mce-ADDRESS-country, #mce-COMMENTS, #mce-RESIDENCE { width: 100%; max-width: 100%; }
