<header class="site-header">
  <div class="site-header__content wrapper">
    <a class="site-header__title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="site-nav">
      <input type="checkbox" id="site-nav-toggle" />
      <label class="site-nav-toggle-menu" for="site-nav-toggle">Menu</label>
      <label class="site-nav-toggle-close" for="site-nav-toggle">Close</label>
      <ul class="site-nav__links">
        {% assign pages = site.pages | sort: 'position'  %}
        {% for my_page in pages %}
          {% if my_page.title and my_page["is hidden from nav"] != true %}
          <li class="site-nav__link">
            <a href="{{ my_page.url | prepend: site.baseurl }}">
              {% if my_page.title == page.title %}
                <strong>
                  {{ my_page.title }}
                </strong>              
              {% else %}
                {{ my_page.title }}
              {% endif %}          
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
