<header class="site-header">

  <div class="site-header__content wrapper">

    <a class="site-header__title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <button class="btn-menu">
        Menu
      </button>
      
      <div>
        {% assign pages = site.pages | where: 'is hidden from nav', !true | sort: 'position'  %}
        {% for my_page in pages %}
          {% if my_page.title %}
          <a class="site-header__link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
