article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    box-sizing: border-box;
    min-height: 100vh;
    background: #E5E5E4;
}
*, *:before, *:after {
    font-family: $base-font-family;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

a {
    text-decoration: none;
    color: $grey-color-darker;
    &:visited,
    &:hover {
        color: $grey-color-darker;
    }
}

h1 {
    color: $grey-color-darker;
    margin: 30px 0;
}

h2 {
    color: $grey-color-darker;
    margin: 10px 0;
}

p {
    line-height: 1.75;
    margin-bottom: 20px;
}