.wrapper {
    max-width: $content-width;
    margin: 0 auto;
    padding: 0 20px;

    @media (min-width: $content-width + 1) {
        padding: 0 80px;
    }
}
.page {
    max-width: $content-width;
    margin: 0 auto;
    min-height: 100%;
}
.site-nav-toggle-menu {
    @media (min-width: 701px) {
        display: none;
    }
    color: $grey-color-darker;
    background: white;
    font-size: 16px;
    padding: 10px;
}

.site-header {
    
    &__title {
        font-size: 24px;
        font-weight: bold;
        color: $brand-color;
        padding: 20px 0;
        &:visited,
        &:hover {
            color: $brand-color;            
        }
    }

    &__content {
        background: white;
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
    }
}

.site-nav-toggle-close {
    display: none;
    color: $grey-color-darker;
    background: white;
    font-size: 16px;
    padding: 10px;
}

#site-nav-toggle {
    display: none;

    &:checked ~ .site-nav__links {
        display: block;
    }
    &:checked ~ .site-nav-toggle-menu {
        display: none;
    }
    &:checked ~ .site-nav-toggle-close {
        display: block;
    }
}

.site-nav {
    
    &__links {
        @media (max-width: 700px) {
            display: none;
            position: absolute;
            top: 64px;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 1001;
            background: white;
            @include box-shadow(0px 14px 26px -12px rgba(0,0,0,0.75));
        }
    }

    &__link {
        display: inline-block;
        text-align: right;
        @media (min-width: 701px) {
            &:not(:last-child) { 
                margin-right: 20px;
            }
        }
        @media (max-width: 700px) {
            display: block;
            a {
                display: block;
                padding: 20px 30px;
            }
        }        
    }
}

.hero-image {
    position: relative;
    img {
        width: 100%;
        height: auto;
    }

    &__image-container {
        position: relative;
    }

    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.1)
    }

    &__cta {
        position: absolute;
        color: white;
        bottom: 20%;
    }

    &__cta-header {
        font-size: 40px;
        @media (max-width: 512px) {
            font-size: 30px;
        }
        @media (max-width: 412px) {
            font-size: 25px;
        }
    }

    &__cta-link {
        border: 2px solid white;
        color: white;
        padding: 20px 35px;
        margin: 20px 0 0 0;
        display: inline-block;
        font-size: 20px;
        letter-spacing: 1px;
        &:visited {
            color: white;
        }
        &:hover {
            background: white;
            color: black;
        }

        @media (max-width: 512px) {
            font-size: 16px;
            padding: 15px 20px;
        }        

        @media (max-width: 412px) {
            font-size: 14px;
            padding: 10px 15px;
        }        
    }
}

.site-footer {
    &__content {
        padding-top: 20px;
        padding-bottom: 20px;
        background: white;
    }

    &__elem {
        display: inline-block; 
        &:not(:last-child) { 
            margin-right: 20px;
        }     
        
        @media (max-width: 550px) {
            display: block;
            padding: 10px 0;
        }   
    }

}