@mixin flexbox() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin justify-content($position) {
  -webkit-justify-content:  $position;
  justify-content:          $position
}

@mixin align-items($position) {
  -webkit-align-items:  $position;
  align-items:          $position
}

@mixin box-shadow($shadow) {
   -moz-box-shadow:    $shadow;
   -webkit-box-shadow: $shadow;
   box-shadow:         $shadow;
}