---
layout: page
---

<h1>
  {{ page.header }}
</h1>
<div class="floorplans">
  {% for floorplan in site.floorplans %}
    <div class="floorplans__item">
      <a href="{{ floorplan.title }}">
        <img src="{{ floorplan.image }}" alt="floorplan {{ floorplan.title }}">
      </a>
      <div class="floorplans__item-info">
        <a href="{{ floorplan.title }}">
          <h2>
            {{ floorplan.title }}
          </h2>
        </a>
        <div>
          {{ floorplan.content }}
        </div>
        <div>
          {{ floorplan["square footage"] }} SF
        </div>
      </div>
    </div>
    
  {% endfor %}
</div>

{{ content }}