---
layout: default
---

<div class="page page--hero">
  <div id="map"></div>
</div>

{% assign contentParsed = content | strip %}
{% if contentParsed != '' %}
<div class="page">
  <div class="wrapper">{{contentParsed}}</div>
</div>
{% endif %}

<script>
  function initMap() {
    var mapCenter = { lat: 38.980555, lng: -77.094351 };
    var map = new google.maps.Map(document.getElementById('map'), {
      center: mapCenter,
      scrollwheel: false,
      zoom: 12,
      styles: [
        {
          "featureType": "administrative.land_parcel",
          "elementType": "labels",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "poi",
          "elementType": "labels.text",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "road.local",
          "elementType": "labels",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        }
      ]
    });

    var marker = new google.maps.Marker({
      map: map,
      position: mapCenter,
    });
    marker.addListener('click', function() {
      window.open('https://www.google.com/maps?z=15&daddr=38.980555,-77.094351')
    });

    google.maps.event.addDomListener(window, "resize", function() {
        google.maps.event.trigger(map, "resize");
        map.setCenter(mapCenter); 
    });
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArw_eb6w-bqI1WUS4iwVvtamQ2Mjr3pOM&callback=initMap" async defer></script>